
@{
    ViewBag.Title = "UserRoom";
}
<div style="margin-left:40%;margin-top:10%">
    <h2>Hello, @ViewBag.login </h2>
    <form method="get" action="~/Home/Index/">
        <input type="submit" class="btn btn-success" value="Exit" />
    </form>
</div>

